<nav class="navbar navbar-fixed-bottom" id = lownavbar>
  <div class="container-fluid">
    <ul class="nav navbar-nav" id ="lowbarul">
      <li><a href="#" data-toggle="modal" data-target="#Login"><i class="glyphicon glyphicon-user"  style="font-size: 22px"></i></a></li>
      <li><a href="#" data-toggle="modal" data-target="#Login"><i class="glyphicon glyphicon-pencil" style="font-size: 20px"></i></a></li>
      <li><a href="/home" (click)="refresh()"><i class="glyphicon glyphicon-refresh"  style="font-size: 22px"></i></a></li>
    </ul>
  </div>
</nav>
