@import "~bootstrap/dist/css/bootstrap.css";
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
  height: 100%;
  overflow: hidden;
}

li{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 0px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
  width: 230px;
  position: fixed; /*we dont want it to be scrolled, so it is fxied at a position relative to viewport*/
  top: 0;
  left: 0;
  min-height: 100vh;/* minimum height is equal to 100% height of viewport*/
  z-index: 999;
  background: white;
  transition: all 0.3s;
  padding-top: 140px;/* padding of login, logout, create event button etc... within the sidebar*/
  padding-bottom: 45px;
  border-right: dotted #57AEB7 2px;
}

#sidebar.active {
  margin-left: -250px;/* move the sidebar to left by setting margin to negative number. margin is space between html element*/
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #57AEB7;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  text-align: left;
  border-bottom: solid #57AEB7 1px;
  border-top: solid #57AEB7 1px;
  border-radius: 0px;
}

#sidebar ul li a:hover {
  color: white;
  background: #57AEB7;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse"] {
  position: relative;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 18px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#search {
  position: fixed; /* we dont want it to be scrolled, so it is fixed at a position relative to viewport*/
  background-color: #57AEB7;
  width: 160%;
  margin-top: 135px;
  padding-left: 30px;
  margin-left: -22px;
}

.topbarsearc input[type=text]{
  width: 480px !important;
}

#contentadmin {
  width: calc(100% - 250px);
  padding: 0px;
  transition: all 0.3s;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}

#content {
  width: calc(100% - 250px);
  transition: all 0.3s;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
#content-listings {
  position: absolute;
  margin-top: 188px;
  height:70%;
  width: 60%;
  overflow-y: scroll;
  padding-bottom: 10%;
}

#contentadmin-listings {
  position: absolute;
  margin-top: 188px;
  height:70%;
  width: 60%;
  overflow-y: scroll;
  padding-bottom: 10%;
}

#content.active {
  width: 100%;
}

#contentadmin.active {
  width: 100%;
}

#gmap {
  height: 150%;
  background-color: white;
  margin-top: 180px;
  position: absolute;
  top: 8px;
  bottom: 0;
  right: 0;
  width: 40%;
}

/* ---------------------------------------------------
    LOWNAVBAR
----------------------------------------------------- */

#lownavbar {
  display: none;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) { /*when the screen with is smaller than 768px*/
  #sidebar {
    margin-left: 0px;
    padding-top: 130px;
  }
  #sidebar.active {
    margin-left: -250px;
  }
  #content {
    width: 100%;
  }
  #content-listings{
    margin-top: 200px;
    height: 55%;
    width: 100%;
  }
  #contentadmin-listings {
    margin-top: 200px;
    height: 55%;
    width: 100%;
  }

  #gmap{
    display: none;
  }
  #contentadmin {
    width: 100%;
  }
  #content.active {
    /* here is empty because we want sidebar to be over the content when the website is on mobile device*/
  }
  #sidebarCollapse span {
    display: none;
  }
  #topbarmenu{
    display: none;
  }
  #lownavbar{
    display: block;
  }
  .topbarsearc input[type=text]{
    width: 90% !important;
  }
  #search {
    top: -10px;
    margin-left: -2%;
    width: 102%
  }

}
