<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >
        <i class="glyphicon glyphicon-cutlery " style="font-size: 40px"></i>
        <span style="font-size: 75px">Feedr</span>
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right" id ="topbarmenu">
      <!---
      <li><a><i class="glyphicon glyphicon-align-justify"  style="font-size: 25px"></i></a></li>
      <li><a><i class="glyphicon glyphicon-align-justify"  style="font-size: 25px"></i></a></li>
      --->
      <li><a><i class="glyphicon glyphicon-align-justify"  id="sidebarCollapse" style="font-size: 25px"></i></a></li>
    </ul>
  </div>
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a>Free food finder in Gainesville</a></li>
    </ul>
  </div>
</nav>
