<div class="container">
  <h2>Create Event</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-success openBtn" data-toggle="modal" data-target="#create_event">Create Event</button>

  <!-- Modal -->
  <div class="modal fade" id="create_event" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <label for="uname"><b>Create Event Here!</b></label><br/>
        </div>
        <div class="modal-body">
          <label for="ename"><b>Event name:</b></label><br/>
          <input type="text" placeholder="What is the name of this event?" name="ename" style="width:300px;" required><br/><br/>

          <label for="eloc"><b>Event Location:</b></label><br/>
          <input type="text" placeholder="Where can we find this event?" name="eloc" style="width:300px;" required><br/><br/>

          <label for="edate"><b>Event Date:</b></label><br/>
          <input type="date" name="edate" min="2018-11-13" max="2020-11-13" required><br/><br/>

          <label for="edesc"><b>Event Description:</b></label><br/>
          <textarea id ="edesc" placeholder="What can you tell us about the event?" name="edesc" style="width:300px;height:200px" required></textarea><br/><br/>

          <button type="submit">Create Event!</button>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>
