<nav id="sidebar">
  <ul class="list-unstyled CTAs" >
    <li style="font-size: 20px">
      <a id="sidebarloginbtn" class="sidebarButton" data-toggle="modal" data-target="#Login" href="#" > Admin Login <i  style="font-size: 20px"></i></a>
    </li>
    <li style="font-size: 20px">
      <a id="sidebarloginbtn" class="sidebarButton" data-toggle="modal" data-target="#Login" href="#" >Create Event <i style="font-size: 20px"></i></a>
    </li>
  </ul>
  <div style="height: 300px">
    <app-dropdown-filter></app-dropdown-filter>
  </div>
</nav>
