<div id="contentadmin">

  <div id="search">
    <form class="navbar-form topbarsearc">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)] = "term" [ngModelOptions]="{standalone: true}">
      </div>
    </form>
  </div>

  <div id="contentadmin-listings" class ="col-sm-6">
    <ul>
      <li *ngFor="let i = index; let event of events | searchBarFilter:term" >
        <app-edit-event [event]="event" [idnum]="i"  [mdy]="mdys[i]" [eventtime]="eventstime[i]"></app-edit-event>
        <h2><span>{{event.name}}</span>
          <button id= "edit_event" class='btn btn-default pull-right' data-toggle="modal" [attr.data-target]="'#'+'edit_event_'+i">
            <span class="glyphicon glyphicon-edit"></span>Edit</button></h2>

        <p><span>{{event.ownerEmail}}</span><button class='btn btn-default pull-right' (click)="deleteSubmit(event)"><span class="glyphicon glyphicon-remove"></span>Del</button></p>
        <p>{{event.description}}</p>
        <p>{{event.typeOfFood}}</p>
        <p><span>Date: {{mdys[i]}}</span> Time :{{eventstime[i]}}<span>  |  </span><span>Address: {{event.location}}</span></p>
        <div class = "line"></div>
      </li>
    </ul>
  </div>

  <app-google-map-frame></app-google-map-frame>

</div>

