<div id="content">
  <div id="search">
    <form class="navbar-form " id = "topbarsearc">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)] = "term" [ngModelOptions]="{standalone: true}">
      </div>
    </form>
  </div>
  <div id="content-listings">
    <ul>
      <li *ngFor="let event of events | searchBarFilter:term">
          <h2>{{event.name}}</h2>
          <p>{{event.description}}</p>
          <p><span>Date: {{event.date}}</span><span>  |  </span><span>Address: {{event.address}}</span></p>
        <div class = "line"></div>
      </li>
    </ul>
  </div>
</div>
