<div class="container">
  <!-- Modal -->
  <div class="modal fade" attr.id="edit_event_{{idnum}}" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <label for="uname"><b>Edit Event Here!</b></label><br/>
        </div>
        <div class="modal-body">
          <label for="ename"><b>Event name:</b></label><br/>
          <input type="text" placeholder="What is the name of this event?" name="ename" value={{event.name}} style="width:300px;" required><br/><br/>

          <label for="eloc"><b>Event Location:</b></label><br/>
          <input type="text" placeholder="Where can we find this event?" name="eloc" value={{event.location}} style="width:300px;" required><br/><br/>

          <label for="edate"><b>Event Date:</b></label><br/>
          <input type="date" name="edate" min="2018-11-13" max="2020-11-13" required><br/><br/>

          <label for="edesc"><b>Event Description:</b></label><br/>
          <textarea id ="edesc" placeholder="What can you tell us about the event?" name="edesc" value="{{event.description}}" style="width:300px;height:200px" required></textarea><br/><br/>

          <button type="submit">Edit Event!</button>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
