<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
<div class="login">
  <form #userLogin = "ngForm"  >
    <div class="modal fade" id="Login" role="dialog" >
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" >&times;</button>
            <h1>Feedr</h1>
          </div>
          <div class="login-form">
            <h3 for="uname"><b>Username</b></h3>
            <input type="text" placeholder="Enter Username" name="uname" required ngModel #uname><br>

            <h3 for="psw"><b>Password</b></h3>
            <input type="password" placeholder="Enter Password" name="psw" required ngModel #upsw><br>

            <input type="button" value="Login"  class = "btn btn-primary mb-2" (click)="loginSubmit()" data-dismiss="modal" />
            <br>
            <a id = "signuploginbtn" class = "sign-up" data-toggle="modal" data-target="#signup" data-dismiss="modal" href="#" >Sign Up!</a>
            <br>
            <h6 class = "no-access">Forgot your password?</h6>
          </div>
          <div class="error-page">
            <div class="try-again">Error: Try again?</div>
          </div>

        </div>

      </div>
    </div>
  </form>



<div class="modal fade" id="signup" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal"><i class="icon-xs-o-md"></i></button>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title caps"><strong>Event Owner Registration</strong></h1>
      </div>
      <div class="login-form">
        <h3 for = "name"><b>Organization Name</b></h3>
        <input type = "text" placeholder="Enter Organization Name" name = "name" required><br>

        <h3 for="email"><b>Email</b></h3>
        <input type="text" placeholder="Enter Email" name="email" required><br>

        <h3 for="psw"><b>Password</b></h3>
        <input type="password" placeholder="Enter Password" name="psw" required><br>

        <h3 for="psw-repeat"><b>Retype Password</b></h3>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" required><br>

        <input type="button" value="Sign Me Up" class = "login-button"/>
        <br>


      </div>

    </div>
  </div>
</div>
</div>
